.cart-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 70px;
    background-color: rgba(60, 143, 146, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 20px;

    &-title {
        font-size: 24px;
        margin-bottom: 20px;
        color: rgb(29, 29, 221);
    }

    &-items {

        li {
            flex-basis: calc(80% - 10px);
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 6px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
            margin-bottom: 10px;
        }
    }
}

.cart-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    position: relative;
}

.cart-card-image {
    flex: 1;
    max-width: 20%;
    margin-right: 10px;
}

.cart-card-delete {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

.cart-card-info {
    flex: 2;
    padding-left: 20px;
    color: #333;

    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 50px;
        color: rgb(29, 29, 221);
    }

    p {
        font-size: 16px;
        margin-bottom: 15px;
        color: rgba(4, 25, 26);
    }
}

.add-to-favorites-star {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    background-size: contain;

    img {
        width: 40px;
        height: 40px;
    }
}

.cart-wrap {
    display: flex;
}