.switch {
    position: absolute;
    display: inline-block;
    left: 50%;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(60, 143, 146, 0.6);
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: whitesmoke;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
}

input:checked+.slider {
    background-color: #2196F3;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
}

input:focus+.slider {
    box-shadow: inset 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: gold;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}