.product-list {
    padding: 10px;

    &-title {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
        color: rgb(29, 29, 221);
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: rgb(60, 143, 146, 0.6);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        border-radius: 6px;

        li {
            flex-basis: calc(100% / 5 - 10px);
            margin-bottom: 20px;

            @media (max-width: 600px) {
                flex-basis: 100%;
            }
        }
    }
}