.product-list {
    margin-top: 90px;
    padding: 10px;

    &-title {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
        color: rgb(29, 29, 221);
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            flex-basis: calc(100% / 5 - 10px);
            margin-bottom: 20px;

            @media (max-width: 600px) {
                flex-basis: 100%;
            }
        }
    }
}