.product-table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
  margin: 0 auto;

  thead>tr>th {
    background-color: rgba(60, 143, 146, 0.6);
    font-weight: bolder;
    font-size: 18px;
    border: 2px solid black;
  }

  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    padding: 10px;
  }

  .product-table__image {
    img {
      height: 100px;
      margin: 0 auto;
      display: block;
    }
  }

  .product-table__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
  }
}

.add-to-cart {
  padding: 5px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(60, 74, 80);
  color: #fff;
  cursor: pointer;

  &.disabled {
    border: 2px solid #1d37a8;
    background-color: #28f016;
    color: #c91616;
    padding: 5px 20px;
    font-weight: bold;
    cursor: inherit;
  }

  &:not(.disabled):hover {
    background-color: #0056b3;
  }
}

.add-to-favorites {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;

  img {
    width: 30px;
    height: 30px;
  }

  &:hover {
    background: url(../../images/icon-star-active.png) no-repeat center;
    background-size: contain;
  }

  &.active {
    background: url(../../images/icon-star-active.png) no-repeat center;
    background-size: contain;
  }
}