.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(162, 200, 202);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    border-radius: 6px;
    padding-bottom: 10px;
    margin: 10px;
    width: 200px;
    position: relative;
    transition: .7s;
    overflow: hidden;

    &:hover {
        transform: scale(1.04);
        transition: transform 0.5s;
    }

    .product-image {
        width: 100%;
        height: auto;
    }

    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        .product-name {
            font-size: 18px;
            font-weight: bold;
            margin: 15px 0;
        }

        .product-price {
            color: rgb(212, 22, 22);
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold;
        }

        .product-article,
        .product-color {
            padding: 2px 0;
            font-size: 14px;
            color: #555;
        }

        .add-to-cart {
            margin-top: 20px;
            padding: 5px;
            border: none;
            font-size: 16px;
            border-radius: 5px;
            background-color: rgb(60, 74, 80);
            color: #fff;
            cursor: pointer;

            &.disabled {
                border: 2px solid #1d37a8;
                background-color: #28f016;
                color: #c91616;
                padding: 5px 20px;
                font-weight: bold;
                cursor: inherit;
            }

            &:not(.disabled):hover {
                background-color: #0056b3;
            }
        }

        .add-to-favorites {
            position: absolute;
            bottom: 10px;
            right: 10px;
            border: none;
            background-color: transparent;
            width: 30px;
            height: 30px;
            padding: 0;
            cursor: pointer;

            @media (max-width: 600px) {
                bottom: 10px;
                right: 10px;
                width: 25px;
                height: 25px;
            }

            img {
                width: 30px;
                height: 30px;

                @media (max-width: 600px) {
                    width: 25px;
                    height: 25px;
                }
            }

            &:hover {
                background: url(../../images/icon-star-active.png) no-repeat center;
                background-size: contain;
            }

            &.active {
                background: url(../../images/icon-star-active.png) no-repeat center;
                background-size: contain;
            }
        }
    }
}