.header-wrap {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background-color: rgb(60, 143, 146);
    border-bottom: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.80);

    .header-icons {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        gap: 30px;

        .header-icon {
            display: flex;
            align-items: center;

            img {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }

            &.favorite-icon {
                color: yellow;
            }

            &.cart-icon {
                color: rgba(9, 9, 121, 0.986);
            }

            &.home-icon {
                color: rgba(9, 9, 121, 0.986);
                text-transform: uppercase;
                font-weight: bold;
                font-size: large;
            }

            .icon-link {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: inherit;

                &.active {
                    color: yellow;
                }
            }

            .icon-count {
                font-size: 20px;
            }
        }
    }
}