button {
    padding: 10px 20px;
    margin: 5px;
    width: 190px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
  
    &:hover {
      opacity: 0.8;
    }
}