.modal-second__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-second {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(187, 184, 184);
    color: black;
    padding: 10px;
    width: 400px;
    border: 4px solid rgb(117, 131, 124);
    border-radius: 2px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        margin: 0;
        font-size: 1.3em;
    }

    &__body {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
    }

    &__actions {
        display: flex;
        justify-content: center;

        &>button {
            padding: 10px 20px;
            margin: 5px;
            width: 150px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            transition: background-color 0.5s ease;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}