.modal-first__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-first {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(216, 69, 69);
    color: white;
    overflow: hidden;
    width: 500px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    &__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        background-color: rgb(177, 67, 63);
    }

    &__title {
        margin: 0;
        line-height: 60px;
    }

    &__close-button {
       padding: 0;
        margin: 0;
        width: 42px;
        height: 42px;
        font-size: 1.7em;
        border: none;
        border-radius: 0;
        background-color: rgb(177, 67, 63);
        color: white;
        cursor: pointer;
        transition: background-color 0.5s ease;

    &:hover {
        opacity: 0.5;
    }
    }

    &__body {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__text {
        text-align: center;
        line-height: 38px;
        padding: 0 10px;
    }

    &__actions {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;

    &>button {
        padding: 10px 20px;
        margin: 5px;
        width: 100px;
        font-size: 16px;
        border: 1px solid rgb(177, 67, 63);
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: background-color 0.5s ease;

      &:hover {
          opacity: 0.8;
      }
    }
  }
}