.checkout-form {
    position: sticky;
    background-color:#ffffffb2;
    top: 70px;
    width: 80%;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    font-size: 20px;
    color: rgb(71, 68, 68);
    padding: 30px;
    margin-left: 10px;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.checkout-form h2 {
    color: rgb(71, 68, 68);
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.checkout-form .form-control {
    margin-bottom: 10px;
}

.checkout-form .form-control label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.checkout-form .form-control input {
    width: 95%;
    padding: 10px;
    border: none;
    outline: none; 
    border-radius: 4px;
    box-shadow: inset 0 0 10px rgba(105, 101, 101, 0.5);
}

.checkout-form .form-control input:focus {
    border: 2px solid #2bf111 ;
}

.checkout-form button {
    width: 40%;
    justify-self: center;
    padding: 10px;
    background-color: rgba(60, 143, 146, 0.6);
    font-size: 18px;
    color: #fff;
    border: none;
    margin-left: 30%;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.checkout-form button:hover {
    background-color: #6d90b4;
}

.checkout-form button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.error-input {
    border: 2px solid red !important;
}

.error-message {
    color: red;
    font-size: 16px;
    margin-top: 5px;
}